.main{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
}

.mainCard{
    display: flex;
    flex-direction: row;
}

.banner{
    height: 75px;
    width: 100%;
    background-color: #F9E7E7;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: left; 
}

.bannerText{
    margin-left: 50px;
    font-size: 14px;
    color: grey;
}

.bannerButton{
    border-style: none;
    background-color: #F9E7E7;
    margin-right: 20px;
    margin-left: 20px;
    color: grey;
}

.cardImage{
    height: 400px;
    width: 400px;
    background-color: #F9E7E7;
    margin: 20px;
    padding: 15px;

    border-radius: 10px;
    border-color: lightgray;
    border-style: none;
    text-align: left;
}

.cardText{
    height: 500px;
    width: 400px;
    background-color: white;
    margin: 20px;
    padding: 10px;

    border-radius: 15px;
    border-width: 2px;
    /* border-color: lightgray; */
    border-style: none;
    text-align: left;
}

.imageItem {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .ratingB{
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .textBear{
    font-size: 14px;
  }

  .ratingText{
    font-size: 14px;
    margin-top: 13px;
    color: grey;
  }

  .priceText{
    font-size: 20px;
    color:grey;
    margin-top: 10px;
  }

  .colorChocolate{
    height: 30px;
    width: 30px;
    background-color: #523214;
    border-style: none;
    border-radius: 100px;
    margin: 5px
  }

  .colorMatcha{
    height: 30px;
    width: 30px;
    background-color: #84b082;
    border-style: none;
    border-radius: 100px;
    margin: 5px
  }

  .colorStrawberry{
    height: 30px;
    width: 30px;
    background-color: #ffb0da;
    border-style: none;
    border-radius: 100px;
    margin: 10px
  }

  .greyButtonB{
    height: 40px;
    width: 65px;
    margin-right: 10px;
    border-style: solid;
    border-color: lightgrey;
    background-color: white;
    color: grey;
    border-radius: 10px;
    margin-top: 15px;
}

.pinkButtonB{
    height: 40px;
    width: 100px;
    border-style: none;
    background-color:#D83289;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;

}

.quantityText{
    font-size: 20px;
}

.smallSocials{
    margin-top: 10px;
    margin-left: 10px;
    height: 20px;
}

.descriptionTextB{
  margin: 20px;
}

.descriptionTextG{
  margin: 20px;
  color: grey;
}

.descriptionImage{
  height: 200px;
  border-radius: 10px;
  margin: 20px;
}

.relatedProductText{
  margin: 20px;
}

.relatedProductCards{
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
}